<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Applying overlays</title>
    <link rel="stylesheet" href="../../App/vendor/css/style.css" type="text/css">
</head>

<body>

    <h1 class="main-title">Demonstração de efeitos Overlay utilizando apenas Css e Html5</h1>

    <div class="container">
        <h3 class="title">Efeito fadeIn em Baixo</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">This is a title</h3>
                    <p class="content-text">This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn em Cima</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-top">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn à Esquerda</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn à Direita</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-right">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn de Cima para Esquerda</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-top fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn de Cima para Direita</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-top fadeIn-right">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn de baixo para Esquerda</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-bottom fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <div class="container">
        <h3 class="title">Efeito fadeIn de Baixo para Direita</h3>
        <div class="content">
            
                <div class="content-overlay"></div>
                <img class="content-image" src="../vendor/img/1102444_3936306.jpg">
                <div class="content-details fadeIn-bottom fadeIn-right">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            
        </div>
    </div>

    <script type="text/javascript" src="../../App/vendor/js/util.js"></script>
</body>

</html>